In [1]:
# üòÄüòÅ
# Î™®Îì† ÏΩîÎìúÎäî ÏÑ§Î™ÖÍ∞ÄÎä•Ìï¥Ïïº ÌïòÎãàÍπå..

In [1]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
import io
import pandas as pd

from sklearn.preprocessing import LabelEncoder


class MultiColumnLabelEncoder:

    def __init__(self, columns=None):
        self.columns = columns # array of column names to encode


    def fit(self, X, y=None):
        self.encoders = {}
        columns = X.columns if self.columns is None else self.columns
        for col in columns:
            self.encoders[col] = LabelEncoder().fit(X[col])
        return self


    def transform(self, X):
        output = X.copy()
        columns = X.columns if self.columns is None else self.columns
        for col in columns:
            output[col] = self.encoders[col].transform(X[col])
        return output


    def fit_transform(self, X, y=None):
        return self.fit(X,y).transform(X)


    def inverse_transform(self, X):
        output = X.copy()
        columns = X.columns if self.columns is None else self.columns
        for col in columns:
            output[col] = self.encoders[col].inverse_transform(X[col])
        return output

In [2]:
# Ïù¥Í±∞Î•º Ïù¥Î†áÍ≤å Ï£ºÏßÄ ÎßêÍ≥† Ï≤òÏùåÎ∂ÄÌÑ∞ dbÏóêÏÑú Î∞õÏïÑÎùº
import pymysql
conn=pymysql.connect(host='database-1.cani4y1t2hfg.ap-northeast-2.rds.amazonaws.com',port=3306,user='slows14tem',password='!wjdgy0117',db='bigdata', cursorclass=pymysql.cursors.DictCursor)
cursor = conn.cursor()
sql = "select * from original"
cursor.execute(sql)
result = cursor.fetchall()
conn.close()
train = pd.DataFrame(result)
train

,id,cheongguseobeonho,no,subject_,machinery,assembly,items,part1,Part2,key1,...,changgoipgosuryang,control_no,ipgochanggo,changgochulgo,changgochulgosuryang,chulgoseonbak,chulgounbanseon,seonbagipgo,seonbagipgosuryang,wallyo_yeobu
0,1,ELS-BS-ESP-2004002,12,NO.1 A/E C18 MAJOR O/H PARTS,NO.1 GENERATOR ENGINE,323-6480 LINES GP-FUEL,SEAL-O-RING-STOR,7.00E-275,,7.00E-275,...,1,ÌòúÏù∏ Î∞úÏ£º,BS,2020-09-19,1,BLO,Î≥∏ÏÑ† ÏÑ†Ï†Å,0000-00-00,0,
1,2,OCA-BS-ESP-2010004,5,Ïö¥Ï†ÑÏãúÍ∞Ñ ÎåÄÎπÑ #2 AUX ENG TOP END O/H PARTS,NO.2 GENERATOR ENGINE,GASKET KIT,OIL COOLER & LINES,7.00E-275,,7.00E-275,...,1,ÌòúÏù∏ Î∞úÏ£º,BS,2020-09-18,1,JBG,Î≥∏ÏÑ† ÏÑ†Ï†Å,0000-00-00,0,
2,3,MIR-BS-ESP-2011002,119,Ïö¥Ï†ÑÏãúÍ∞Ñ ÎåÄÎπÑ #2 AUX ENG(CAT 3512C) MAJOR O/H PARTS,NO.2 GENERATOR ENGINE,285-8374 MANIFOLD GP-EXH,WASHER,7.00E-275,,7.00E-275,...,1,,BS,2020-12-12,1,BON,SANWA FONTAINE,0000-00-00,0,
3,4,BLO-BS-ESP-2003002,16,#1 AUX ENG TOP END O/H PARTS,NO.1 GENERATOR ENGINE,159-8828 TURBO GP,BOLT-HIGH TEMP,7.00E-275,,7.00E-275,...,1,ÌòúÏù∏ Î∞úÏ£º,BS,2021-06-16,1,MIR,Ï≤¥Ìï≠ÏàòÎ¶¨ Ïãú ÏÇ¨Ïö©,0000-00-00,0,
4,5,DEO-BS-ESP-2105008,97,DEO-E-210512-01,NO.1 GENERATOR ENGINE,2N4727 INSTRUMNT PANEL GP,SEAL,7.00E-275,,7.00E-275,...,1,,BS,0000-00-00,0,,,0000-00-00,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21079,21080,BLO-BS-ESP-2006006,1,"BLO-F-ENGINE-200515-03 BOAT DAVIT CYL Ïô∏, AIRCO...",HYD. SYSTEM,5-753-2E_BOAT DAVIT & N.D CRANE LINE,HYD. CYLINDER_NET BOAT DAVIT,œÜ150 √ó œÜ85 √ó 695st,FF-SE-1CB150BB695ABD-YP2J,œÜ150 √ó œÜ85 √ó 695stFF-SE-1CB150BB695ABD-YP2J,...,2,20-09-161,BW,0000-00-00,0,,,0000-00-00,0,
21080,21081,BLO-BS-ESP-2004008,1,BLO-F-ENGINE-200403-01 (NAVI DECK CRANE DERRIN...,HYD. SYSTEM,5-753-2E_BOAT DAVIT & N.D CRANE LINE,HYD. CYLINDER_N.D CRANE_BOOM_LIFTER,œÜ160 √ó œÜ112 √ó 1130st,S-2CA160A20.6N1130-1,œÜ160 √ó œÜ112 √ó 1130stS-2CA160A20.6N1130-1,...,1,20-07-114,BW,2020-08-26,1,BLO,BLO ÏÉÅÍ∞ÄÏãú ÏÑ†Ï†Å,0000-00-00,0,
21081,21082,ELS-BS-ESP-1908002,2,ELS-F-ENG-190628-02,6M NET BOAT,ELECTRIC CLUTCH,PULLY,Œ¶305X5V-3,,Œ¶305X5V-3,...,1,19-08-164,BW,2019-09-04,1,ELS,ONENESS,2019-10-02,1,ÏôÑÎ£å
21082,21083,BLO-BS-ESP-1906014,2,BLO-F-ENGINE-190617-01 (NET BOAT PARTS),7M NET BOAT,HAND HYDRAULIC STEERING SYSTEM,CYLINDER,Œ¶50 x S195 CYLINDER,,Œ¶50 x S195 CYLINDER,...,1,19-07-134,BW,2019-08-20,1,BLO,ÏÑ∏Ïù¥ÏÖÄ Ïª®ÌÖåÏù¥ÎÑà,2019-10-12,1,ÏôÑÎ£å
21083,21084,BLO-BS-ESP-1906014,3,BLO-F-ENGINE-190617-01 (NET BOAT PARTS),7M NET BOAT,HAND HYDRAULIC STEERING SYSTEM,SEAL KIT FOR CYLINDER,Œ¶50 x S195 CYLINDER SEAL KIT,,Œ¶50 x S195 CYLINDER SEAL KIT,...,2,19-07-134,BW,2019-08-20,2,BLO,ÏÑ∏Ïù¥ÏÖÄ Ïª®ÌÖåÏù¥ÎÑà,2019-10-12,2,ÏôÑÎ£å

In [10]:
columns= [ 'machinery'  , 'assembly' , 'items', 'subject_' ]

data_Encode= train[columns]
data_Encode = data_Encode.rename(columns={'subject_':'subject'})
data_Encode

,machinery,assembly,items,subject
0,NO.1 GENERATOR ENGINE,323-6480 LINES GP-FUEL,SEAL-O-RING-STOR,NO.1 A/E C18 MAJOR O/H PARTS
1,NO.2 GENERATOR ENGINE,GASKET KIT,OIL COOLER & LINES,Ïö¥Ï†ÑÏãúÍ∞Ñ ÎåÄÎπÑ #2 AUX ENG TOP END O/H PARTS
2,NO.2 GENERATOR ENGINE,285-8374 MANIFOLD GP-EXH,WASHER,Ïö¥Ï†ÑÏãúÍ∞Ñ ÎåÄÎπÑ #2 AUX ENG(CAT 3512C) MAJOR O/H PARTS
3,NO.1 GENERATOR ENGINE,159-8828 TURBO GP,BOLT-HIGH TEMP,#1 AUX ENG TOP END O/H PARTS
4,NO.1 GENERATOR ENGINE,2N4727 INSTRUMNT PANEL GP,SEAL,DEO-E-210512-01
...,...,...,...,...
21079,HYD. SYSTEM,5-753-2E_BOAT DAVIT & N.D CRANE LINE,HYD. CYLINDER_NET BOAT DAVIT,"BLO-F-ENGINE-200515-03 BOAT DAVIT CYL Ïô∏, AIRCO..."
21080,HYD. SYSTEM,5-753-2E_BOAT DAVIT & N.D CRANE LINE,HYD. CYLINDER_N.D CRANE_BOOM_LIFTER,BLO-F-ENGINE-200403-01 (NAVI DECK CRANE DERRIN...
21081,6M NET BOAT,ELECTRIC CLUTCH,PULLY,ELS-F-ENG-190628-02
21082,7M NET BOAT,HAND HYDRAULIC STEERING SYSTEM,CYLINDER,BLO-F-ENGINE-190617-01 (NET BOAT PARTS)
21083,7M NET BOAT,HAND HYDRAULIC STEERING SYSTEM,SEAL KIT FOR CYLINDER,BLO-F-ENGINE-190617-01 (NET BOAT PARTS)

In [11]:
data_Encode= data_Encode.dropna()

In [12]:
multi = MultiColumnLabelEncoder(columns=['subject', 'machinery'  , 'assembly' , 'items'])

In [48]:
X = multi.fit_transform(data_Encode)
X

       machinery  assembly  items  subject
0            109       295   4906      953
1            114      1201   3733     1673
2            114       220   5995     1674
3            109        83    700       10
4            109       251   4736      524
...          ...       ...    ...      ...
21079         64       488   2839      258
21080         64       488   2838      256
21081          0       919   4200      576
21082          5      1231   1601      237
21083          5      1231   4775      237

[21084 rows x 4 columns]

In [59]:
import joblib
from pycaret.classification import *
import pickle
# xg1 = load_model('../original_model3/svm1')
# ridge1 = load_model('../original_model3/ridge1')
model_rf = joblib.load('../original_model4/filename.pkl')

In [64]:
X

       machinery  assembly  items  subject
0            109       295   4906      953
1            114      1201   3733     1673
2            114       220   5995     1674
3            109        83    700       10
4            109       251   4736      524
...          ...       ...    ...      ...
21079         64       488   2839      258
21080         64       488   2838      256
21081          0       919   4200      576
21082          5      1231   1601      237
21083          5      1231   4775      237

[21084 rows x 4 columns]

In [ ]:
prediction = model_rf.predict(X)

In [65]:
pred_df = pd.DataFrame(prediction)
pred_df

              0
0        WASHER
1          BOLT
2        COOLER
3         SHAFT
4        COOLER
...         ...
21079  CYLINDER
21080  CYLINDER
21081      BELT
21082  CYLINDER
21083  CYLINDER

[21084 rows x 1 columns]

In [67]:
concat = pd.concat([X, pred_df], axis=1)
concat.columns = ['machinery', 'assembly', 'items', 'subject', 'category']
concat

       machinery  assembly  items  subject  category
0            109       295   4906      953    WASHER
1            114      1201   3733     1673      BOLT
2            114       220   5995     1674    COOLER
3            109        83    700       10     SHAFT
4            109       251   4736      524    COOLER
...          ...       ...    ...      ...       ...
21079         64       488   2839      258  CYLINDER
21080         64       488   2838      256  CYLINDER
21081          0       919   4200      576      BELT
21082          5      1231   1601      237  CYLINDER
21083          5      1231   4775      237  CYLINDER

[21084 rows x 5 columns]

In [68]:
prediction_inv = multi.inverse_transform(concat)
prediction_inv

,machinery,assembly,items,subject,category
0,NO.1 GENERATOR ENGINE,323-6480 LINES GP-FUEL,SEAL-O-RING-STOR,NO.1 A/E C18 MAJOR O/H PARTS,WASHER
1,NO.2 GENERATOR ENGINE,GASKET KIT,OIL COOLER & LINES,Ïö¥Ï†ÑÏãúÍ∞Ñ ÎåÄÎπÑ #2 AUX ENG TOP END O/H PARTS,BOLT
2,NO.2 GENERATOR ENGINE,285-8374 MANIFOLD GP-EXH,WASHER,Ïö¥Ï†ÑÏãúÍ∞Ñ ÎåÄÎπÑ #2 AUX ENG(CAT 3512C) MAJOR O/H PARTS,COOLER
3,NO.1 GENERATOR ENGINE,159-8828 TURBO GP,BOLT-HIGH TEMP,#1 AUX ENG TOP END O/H PARTS,SHAFT
4,NO.1 GENERATOR ENGINE,2N4727 INSTRUMNT PANEL GP,SEAL,DEO-E-210512-01,COOLER
...,...,...,...,...,...
21079,HYD. SYSTEM,5-753-2E_BOAT DAVIT & N.D CRANE LINE,HYD. CYLINDER_NET BOAT DAVIT,"BLO-F-ENGINE-200515-03 BOAT DAVIT CYL Ïô∏, AIRCO...",CYLINDER
21080,HYD. SYSTEM,5-753-2E_BOAT DAVIT & N.D CRANE LINE,HYD. CYLINDER_N.D CRANE_BOOM_LIFTER,BLO-F-ENGINE-200403-01 (NAVI DECK CRANE DERRIN...,CYLINDER
21081,6M NET BOAT,ELECTRIC CLUTCH,PULLY,ELS-F-ENG-190628-02,BELT
21082,7M NET BOAT,HAND HYDRAULIC STEERING SYSTEM,CYLINDER,BLO-F-ENGINE-190617-01 (NET BOAT PARTS),CYLINDER
21083,7M NET BOAT,HAND HYDRAULIC STEERING SYSTEM,SEAL KIT FOR CYLINDER,BLO-F-ENGINE-190617-01 (NET BOAT PARTS),CYLINDER

In [69]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
db_connection_str = 'mysql+pymysql://slows14tem:!wjdgy0117@database-1.cani4y1t2hfg.ap-northeast-2.rds.amazonaws.com/bigdata'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

prediction_inv.to_sql(name='JSYoon_category_result_ver2', con=db_connection, if_exists='replace',index=False)

21084